In [ ]:
print(5/0)

ZeroDivisionError: division by zero

In [ ]:
try:
  print(5/0)
except:
  print("hey you will get an error")

hey you will get an error

In [ ]:
try:
  pint("5")
except:
  print("yes its working")

yes its working

In [ ]:
numerator = float(input("Enter the numerator: "))
denominator = float(input("Enter the denominator: "))
if denominator == 0:
    raise ZeroDivisionError("Error: Denominator cannot be zero.")
else:
    quotient = numerator / denominator
    print("Quotient:", quotient)

Enter the numerator: 1
Enter the denominator: 1
Quotient: 1.0

In [ ]:
numerator = float(input("Enter the numerator: "))
denominator = float(input("Enter the denominator: "))
if denominator == 0:
    raise ZeroDivisionError("Error: Denominator cannot be zero.")
else:
    quotient = numerator / denominator
    print("Quotient:", quotient)

Enter the numerator: and

ValueError: could not convert string to float: 'and'

In [ ]:
1.exception handling(throwing and catching exeption)

In [ ]:
#LOGIC GATES
inputs=[0,1]
print("X Y | X AND Y")
print("-------------")
for X in inputs:
   for Y in inputs:
     output = X and Y
     print(f"{X} {Y} | {output}")

X Y | X AND Y
-------------
0 0 | 0
0 1 | 0
1 0 | 0
1 1 | 1

In [ ]:
inputs=[0,1]
print("X Y | X OR Y")
print("-------------")
for X in inputs:
   for Y in inputs:
     output = X or Y
     print(f"{X} {Y} | {output}")

X Y | X OR Y
-------------
0 0 | 0
0 1 | 1
1 0 | 1
1 1 | 1

In [ ]:
input=[0,1]
for i in input:
  print(i)
  j=!i
  print(j)

0
['/bin/bash: line 1: i: command not found']
1
['/bin/bash: line 1: i: command not found']

In [ ]:
inputs=[0,1]
print("X Y | X XOR Y")
print("-------------")
for X in inputs:
   for Y in inputs:
     output = x^y
     print(f"{X} {Y} | {output}")

X Y | X XOR Y
-------------
0 0 | 1
0 1 | 1
1 0 | 1
1 1 | 1